* {
  margin: 0;
  padding: 0;
}

#sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  overflow-y: auto;
  z-index: 1021;
  transition: 0.5s;
}
#sidebar nav {
  margin-left: -2rem;
}
#sidebar nav ul {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  color: #fff;
  font-weight: 500;
  list-style: none;
}
#sidebar nav ul li a {
  padding: 0.375rem 1rem;
  color: #fff;
  text-decoration: none;
  display: flex;
  transition: margin-left 0.5s;
}
#sidebar nav ul li a i {
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sidebar nav ul li a span {
  margin-left: 0.75rem;
  opacity: 1;
  white-space: nowrap;
  transition: margin-left 0.5s ease-out, opacity 0.5s ease-out;
}
#sidebar nav ul li:not(:has(a)) {
  margin: 0.375rem 1rem;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 2px solid #ffffff;
  opacity: 1;
  white-space: nowrap;
}
#sidebar button {
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0.5rem 1rem;
  position: sticky;
  top: 0;
}
#sidebar button span {
  color: #ffffff;
  font-weight: bold;
  margin-left: 0.75rem;
  opacity: 1;
  white-space: nowrap;
  transition: margin-left 0.5s ease-out, opacity 0.5s ease-out;
}

#sidebar.collapsed {
  width: 60px;
}
#sidebar.collapsed:hover {
  width: 250px;
}
#sidebar.collapsed:hover nav ul li a span {
  opacity: 1;
  display: inline-block;
}
#sidebar.collapsed:hover nav ul li:not(:has(a)) {
  margin: 0.375rem 1rem;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 2px solid #ffffff;
  opacity: 1;
  white-space: nowrap;
  display: inline-block;
}
#sidebar.collapsed:hover button span {
  opacity: 1;
  display: inline-block;
}
#sidebar.collapsed nav ul li a span {
  opacity: 0;
  display: none;
}
#sidebar.collapsed nav ul li:not(:has(a)) {
  opacity: 0;
  display: none;
  white-space: nowrap;
}
#sidebar.collapsed button span {
  opacity: 0;
  display: none;
}

.admin-sidebar {
  background-color: #111827;
}
.admin-sidebar nav ul li a:hover, .admin-sidebar nav ul li a.active {
  background-color: #1f2937;
}
.admin-sidebar button {
  background: #111827;
}

.vendor-sidebar {
  background-color: #c2410c;
}
.vendor-sidebar nav ul li a:hover, .vendor-sidebar nav ul li a.active {
  background-color: #9a3412;
}
.vendor-sidebar button {
  background-color: #c2410c;
}

.customer-sidebar {
  background-color: #7dd3fc;
}
.customer-sidebar nav ul li a:hover, .customer-sidebar nav ul li a.active {
  background-color: #38bdf8;
}
.customer-sidebar button {
  background-color: #7dd3fc;
}

#content {
  margin-left: 250px;
  transition: margin-left 0.5s;
  padding: 0.5rem;
}
@media screen and (max-width: 991.98px) {
  #content {
    margin-left: 60px;
  }
}

#content.expanded {
  margin-left: 60px;
}

.pathway {
  display: block;
}
.pathway ol {
  display: flex;
  list-style: none;
}
.pathway ol li {
  margin-right: 0.375rem;
}
.pathway ol li :last-child {
  margin-right: 0;
}/*# sourceMappingURL=styles.css.map */